button {
    font-weight: 600;
    border-radius: 12px;
}
input {
    border-radius: 12px;
}

.search-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #343a40;
}

.search-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 12px;
}

.search-options select,
.search-options input[type="text"] {
    width: 45%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

.search-options button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #98C1D9;
    color: #293241;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-options button:hover {
    background-color: #E0FBFC;
}

.search-results ul {
    list-style-type: none;
    padding: 0;
}

.search-results li {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.search-results li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-results h3 {
    margin: 0 0 5px;
    color: #293241;
}

.search-results p {
    margin: 5px 0; 
    color: #6c757d;
}

.search-results button {
    padding: 8px 15px;
    font-size: 14px;
    background-color: #EE6C4D;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
    margin-top: 0;
    color: #343a40;
}

.modal-content label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #343a40;
}

.modal-content textarea,
.modal-content input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    margin-bottom: 20px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
}

.modal-actions button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    background-color: #3D5A80;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-actions button:nth-child(2) {
    background-color: #e74d26;
}
